.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  position: absolute;
  border: solid 2px white;
  color: dimgray;
  border-radius: 8px;
  padding: 10px;
  background-color: #e2e2e2;
  bottom: -200px;
}

.show {
  animation: slide-in-and-out 10s 1 ease-in;
}

@keyframes slide-in-and-out {
  0% {
    bottom: -200px;
  }
  15% {
    bottom: 0;
  }
  85% {
    bottom: 0;
  }
  100% {
    bottom: -200px;
  }
}

/* method 2 */

.show-two {
  bottom: 0;
}
